<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>

<h1>Usuarios</h1>

<div id="usuarios">
  <% @usuarios.each do |usuario| %>
    <%= render usuario %>
    <p>
      <%= link_to "ver este usuario", usuario %>
    </p>
  <% end %>
</div>

<%= link_to "nuevo usuario", new_usuario_path %>
