<!DOCTYPE html>
<html>
<head>
    <title>Aplicación CRUD4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "estilos", "data-turbo-track": "reload" %>
    <link rel="apple-touch-icon">
</head>
<body>

    <div class="container"> <!-- Contenedor general -->
        <%= yield %>
    </div>

</body>
</html>
